//- index.pug
extends ./template.pug

block content
  div#dashboard
    h1 Dashboard
    div#dashboard-content
      div.row
        div.col
          span item1
        div.col
          span item2
        div.col
          span item3
