//- pdv.pug
extends ./template.pug

block content
  h1 PDV

  #choose-items
      input#input-search-item(type='text' placeholder='Código' title='digite o código ou nome do produto')
      each item in list
        - var link = item.id
        - var providerId = item.provider
        tr
          td 
            span(class='pdv-item-name' onclick='addItem(' + item + ')') #{item.name}
          td #{item.unityPrice}
        

  #basket
    each item in basket
      - var link = item.id
      - var providerId = item.provider
      tr
        td(rowspan='4') 
        td #{item.name}
      tr
        td #{item.quantity}
      tr
        td #{item.unityPrice}
      tr
        td #{item.total}

  script.
    function reqListener () {
      console.log(this.responseText);
    };

    var searchRemote = function(url) {
      var oReq = new XMLHttpRequest();
      oReq.onload = reqListener;
      oReq.open('GET', url, true);
      oReq.send();
    }

    document.getElementById('input-search-item').addEventListener('change', function(evt) {
      searchRemote('/stock/search/'+evt.target.value)
    })
    var addItem = function(item) {this.basket.push(item)}