//- provider.pug 
extends ./template.pug

block content
    h1 Fornecedores    

    div.row
      div.col
        a(href="/provider/edit", class="btn btn-primary") Novo
      
    div.row
      div.col
        br
        table.table.table-responsive.table-sm
          thead.thead-dark
            tr
              th ID
              th Nome
              th CNPJ
              th Descricao
          tbody
            each prov in list
              tr
                td
                  - var link = prov.id
                  a(href='/provider/'+link) #{prov.id}
                td #{prov.name}
                td #{prov.cnpj}
                td #{prov.description}
