//- provider-edit.pug
extends ./template-edit.pug

block form-content
  div.form-group
    label(for="name") Name:
    input.form-control(type="text", name="name" value=_obj.name onChange="onFieldChange('name')")
  div.form-group
    label(for="description") Descrição:
    input.form-control(type="text", name="description" value=_obj.description onchange="onFieldChange('description')")
  div.form-group
    label(for="cnpj") CNPJ:
    input.form-control(type="text", name="cnpj" value=_obj.cnpj onchange="onFieldChange('cnpj')")
