//- stock.pug 
extends ./template.pug

block content
    h1 Estoque

    div.row
      div.col
        a(href="/stock-item/edit", class="btn btn-primary") Novo
      
    div.row
      div.col
        br
        table.table.table-responsive.table-sm
          thead.thead-dark
            tr
              th ID
              th NOME
              th DESCRIÇÃO
              th FORNECEDOR
              th PREÇO
              th QUANTIDADE
          tbody
            each item in list
              - var link = item.id
              - var providerId = item.provider
              tr
                td 
                  a(href='/stock/'+link) #{item.id}
                td #{item.name}
                td #{item.description}
                td 
                  a(href='/provider/'+providerId) #{item.provider}
                td #{item.price}
                td #{item.qty}
