//- stock-item-edit.pug
extends ./template.pug

block content
    h1 Item

    - var item = _item
    div.row
      div.col
        if item.id
          a(href="/stock/edit", class="btn btn-primary") Novo

    form.form(action="/stock/edit", method="POST")
      div.form-group
        label(for="name") Name:
        input.form-control(type="text", name="name" value=item.name)
      div.form-group
        label(for="description") Descrição:
        input.form-control(type="text", name="description" value=item.description)
      div.form-group
        label(for="provider") Fornecedor:
        input.form-control(type="text", name="provider" value=item.provider)
      div.form-group
        label(for="price") Preço:
        input.form-control(type="text", name="price" value=item.price)
      div.form-group
        label(for="qty") Quantidade:
        input.form-control(type="text", name="qty" value=item.qty)
        
      input.btn.btn-primary.pull-right(type="submit", value="Salvar")
      a.btn.btn-secondary(href="/stock") Voltar
