//- template-edit.pug
extends ./template.pug

block content
    h1= name
    
    - var _obj = _item
    div.row
      div.col
        if _obj.id
          a(href='/' + name + '/edit', class="btn btn-primary") Novo

    script.
      function onFieldChange(field) {
        console.log(field+' -> onFieldChange')
        const a = #{_obj}
        console.log('obj',a)
        var el = document.getElementsByName(field)[0];
        if(a[field] && el)
          a[field] = el.value;
      }

    form.form(action='/' + name + '/edit', method="POST")
      if _obj.id
        input(type='hidden' name='id' value=_item.id)
      
      block form-content
      
      input.btn.btn-primary.pull-right(type="submit", value="Salvar")
      a.btn.btn-secondary(href='/' + name) Voltar
