//- includes/foot.pug
script(src="/js/jquery.min.js")
script(src="/js/tether.min.js")
script(src="/js/bootstrap.min.js")

div(style="height: 50px;")
div.container-fluid(id='footer')
  div.row
    div.col
      footer
        hr 
        p Copyright (c) foobar