//- includes/head.pug
doctype html
html(lang="en")
head
  title= pageTitle
  meta(http-equiv="x-ua-compatible", content="ie=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway:400,800")
  link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
  link(rel="stylesheet", href="/css/bootstrap.css")
  link(rel="stylesheet", href="/css/style.css")

  script(type='text/javascript').
    if (foo) bar(1 + 5)

  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href="/")= brand
      button.navbar-toggler(type="button" data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      
      div.collapse.navbar-collapse(id="navbarSupportedContent")
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href="/pdv") PDV
              span.sr-only (current)
          li.nav-item.active
            a.nav-link(href="/stock") Estoque
              span.sr-only
          li.nav-item.active
            a.nav-link(href="/provider") Fornecedor
              span.sr-only
          